.theme{
    text-align: center;
}
h1{
    color: red;
}
h4{
    color: green;;
}
/*
facebook style button
*/
.facebook-style-btn{
    border-radius: 2px;
    font-size: 1rem;
    padding: 8px 16px;
    cursor: pointer;
}
.facebook-style-dark{
    -moz-box-shadow: inset 0 1px 0 0 #4d73bf;
    -webkit-box-shadow: inset 0 1px 0 0 #4d73bf;
    box-shadow: inset 0 1px 0 0 #4d73bf;
    background: #4267b2;
    border: 1px solid #4267b2;
    color: white;
    text-shadow: 0 1px 0 #3359a5;
}
 .facebook-style-dark:hover{
     background: #2b54a7;
 }
 .facebook-style-dark:active{
     background: #1d4698;
     border-color: #1d4698;
 }
.facebook-style-light{
    background: #f6f7f9;
    border: solid 1px #ced0d4;
    color:#4b4f56
}
 .facebook-style-light:hover{
     background: #e9ebee;
 }
 .facebook-style-light:active{
     background: #d8dade;
     border-color: #d8dade;
 }

 /*
 gradient border button styles
 */
 .gradient-button-1{
     position:relative;
     z-index: 1;
     display: inline-block;
     padding: 20px 40px;
     font-size: 1.4rem;
     box-sizing: border-box;
     background-color: #e7eef1;
     color: orangered;
     border: solid 10px transparent;
     border-image: linear-gradient(to top right, orangered, yellow);
     border-image-slice: 1;
     transition: all .3s ease;
 }
 .gradient-button-1:hover{
     background-image: linear-gradient(to top right, orangered, yellow);
     color: white;
 }
 .gradient-button-2{
     position:relative;
     z-index: 1;
     display: inline-block;
     padding: 20px 40px;
     font-size: 1.4rem;
     box-sizing: border-box;
     background-color: #e7eef1;
     color: orangered;
     border: solid 4px transparent;
     border-image: linear-gradient(to  right, orangered, transparent);
     border-image-slice: 1;
     transition: all .3s ease;
 }
 .gradient-button-2:hover{
     background-image: linear-gradient(to  right, orangered, transparent);
     color: white;
     border-right-style: none;
 }
 